<h2>About me</h2>
<p>
    Hi! I love looking for ways to use computation to solve problems.
    In particular, my interests lie in
</p>
<ul>
    <li>Information Security</li>
    <li>Machine Learning</li>
    <li>Computer Architecture</li>
</ul>

<h2>Resume</h2>

<p>
    For contact information or more background on me, please see my
    <a href="https://www.dropbox.com/s/wamdlmtuo4c99mv/DavidHashe_Resume.pdf?dl=0">resume</a>.
</p>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <a href="https://github.com/dhashe">
            <span class="fa fa-github fa-lg main-list-item-icon"></span>
        </a>
    </li>
    <li class="main-list-item">
        <a href="https://linkedin.com/in/dhashe">
            <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        </a>
    </li>
</ul>
